extends layout

block content

  h2 Game Of Life

  div#gol

  aside
    p Fyll celler genom att klicka på dem, eller genom att hålla ned <strong>cmd</strong> och måla med muspekaren.
    p Rensa celler genom att klicka dem igen, eller genom att hålla nere <strong>shift</strong> och sudda med muspekaren.
    p Starta och stanna simuleringen genom att aktivera <strong>RUN/STOP</strong>-knappen. För att gå framåt en generation i taget, aktivera <strong>Step</strong>-knappen.

  section.rules Regler:
    ol
      li En levande cell med mindre än två grannar dör av isolering.
      li En levande cell med två eller tre grannar lever vidare till nästa generation.
      li En levande cell med mer än tre grannar dör av trängsel.
      li I en cell utan liv, men med exakt tre levande grannar, uppstår nytt liv.

  script(type="text/javascript", src="js/game-of-life.js")

  script(type="text/javascript")
    ;(function () {
      var win = this, doc = win.document
        , game = gameOfLife.create({"width": 20, "height": 20});
      game.put(doc.getElementById("gol"));
    })();
