extends layout


block content

  h2 Minecraft på
    a(href="//mc.envall.se")  mc.envall.se
  p
    a(href="//mc.envall.se") mc.envall.se 
    | är en server där 
    a(href="//hilding.envall.se") Hilding
    | , 
    a(href="//knut.envall.se") Knut 
    | och Petter spelar Minecraft! Det finns några andra, särskilt inbjudna, spelare också.
  p
    span(title=((new Date).toISOString().substring(0, 10))) Just nu 
    | körs två servrar på adressen:
  
  dl.server-list
    dt npup
    dd - mc.envall.se
    dt h1
    dd - mc.envall.se (port 25566)
  p För att ansluta till någon av dem måste du finnas med i motsvarande <em>white-list</em>. Fråga oss om detta!

  h4 Båda två är <em>samarbetes-miljöer</em>
  p Med det menar vi att det är fredliga världar - inga strider, stölder eller förstörelse får äga rum mellan spelare. Man får inte ta saker som tillhör andra eller förändra andras strukturer (byggnader, vägar etc). Det är lite som 
    a(href="http://www.naturvardsverket.se/Var-natur/Allemansratten/Det-har-ar-allemansratten/") allemansrätten
    |  ("Inte störa - inte förstöra"), eller som i det verkliga livet för den delen. Skillnaden är att man inte får komma tillbaka om man bråkar...
  p Självklart kan man komma överens om att bygga saker tillsammans, dela på föremål och så vidare.
