extends layout


block content

  h2 Minecraft-servrar på
    a(href="//mc.envall.se")  mc.envall.se

  p Just nu körs två servrar på adressen "mc.envall.se".
  
  dl.server-list
    dt npup
    dd - mc.envall.se
    dt h1
    dd - mc.envall.se (port 25566)
  p För att ansluta till någon av dem måste du finnas med i dess <em>white-list</em>. Fråga oss om detta!

  h4 Båda två är <em>samarbetes-miljöer</em>.
  p Med det menar vi att det är fredliga världar - inga strider, stölder eller förstörelse får äga rum mellan spelare. Man får inte ta saker som tillhör andra eller förändra deras strukturer (byggnader, vägar etc). Det är lite som allemansrätten: "Inte röra - inte förstöra", eller som i det verkliga livet för den delen. Skillnaden är att man inte får komma tillbaka om man bråkar...
  p Självklart kan man komma överens om att bygga saker tillsammans, dela på föremål och så vidare.
