!!! 5
html

  head
    script(type="text/javascript")
      (function () {
        var tags = ["nav", "header", "footer", "section"];
        for (var idx=0, len=tags.length; idx<len; ++idx) {
          document.createElement(tags[idx]);
        }
      })();
    title= pageTitle
    - each file in cssAll
      link(rel="stylesheet", type="text/css", href="/css/"+file+".css")
    - each file in cssCustom
      link(rel="stylesheet", type="text/css", href="/css/"+file+".css")

  body(class=bodyClass)

    div#wrap
      header
        nav(class=nav)
          ul
            li#home
              a(href="/", accesskey="h") Hem
            li#maps
              a(href="/maps", accesskey="k") Kartor

      section#content
        block content

      footer
        p
          <!-- button(onclick='game.solve();document.forms[0].querySelector("input[type=submit]").focus();') &copy; -->
          &copy;
          a(href="/game-of-life")
            = " " + (new Date).getFullYear()