!!! 5
html

  head
    title= pageTitle
    - each file in cssAll
      link(rel="stylesheet", type="text/css", href="/css/"+file)
    - each file in cssCustom
      link(rel="stylesheet", type="text/css", href="/css/"+file)

  body(class=bodyClass)

    div#wrap
      header
        nav(class=nav)
          ul
            li#home
              a(href="/", accesskey="h") Hem
            li#maps
              a(href="/maps", accesskey="k") Kartor

      section#content
        block content

      footer
        p &copy;
          = " " + (new Date).getFullYear()