extends layout


block content

  h2 Maps

  dl.flaps
    dt.h1(class=(map=='h1'?'selected':''))
      a(href="/maps/h1") h1
    dd
      iframe.overview(src="/servers/h1/")
    dt.npup(class=(map=='npup'?'selected':''))
      a(href="/maps/npup") npup
    dd
      iframe.overview(src="/servers/npup/")
