extends layout


block content

  h2 Maps

  ul.flaps
    li.h1(class=(map=='h1'?'selected':''))
      a(href="/maps/h1") h1
    li.npup(class=(map=='npup'?'selected':''))
      a(href="/maps/npup") npup
    

  div.content
    iframe.overview(src="/servers/"+map+"/")