extends layout


block content

  h4 Automatiskt genererade kartor
  p Kartornas strukturer ritas om varje hel- och halvtimme. Spelarpositioner uppdateras var femte minut (klicka på "Spelare" i menyn "Markeringar" på kartan för att visa dem).
  p Klicka på fliken för den karta du vill se!

  ul.flaps(class="selected-"+map)
    li.npup
      a(href="/maps/npup") npup
    li.h1
      a(href="/maps/h1") h1
    

  div.content
    iframe.overview(src=mapsPath+"/"+map+"/")