extends layout


block content

  h2 Maps

  dl.flaps
    dt.flap-0
      a(href="#h1")
    dd.content-0
      iframe(src="/h2/index.html")
    dt.flap-1
      a(href="npup")
    dd.content-1
      iframe(src="/npup/index.html")
