extends layout


block content

  h4 Automatiskt genererade kartor
  p Kartornas strukturer ritas om varje hel- och halvtimme. Spelarpositioner uppdateras var femte minut. Klicka på fliken för den karta du vill se!

  ul.flaps(class="selected-"+map)
    li.h1
      a(href="/maps/h1") h1
    li.npup
      a(href="/maps/npup") npup
    

  div.content
    iframe.overview(src="/servers/"+map+"/")