/* layout */
html * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Verdana;
}
#wrap {
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  background-color: #f2f2f2;
  border-radius: 3px;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  padding: 0 1em;
}
nav a {
  display: block;
  text-align: center;
  font-size: 1.8em;
}
a:link,
nav a:link,
a:visited,
nav a:visited,
a:active,
nav a:active {
  text-decoration: none;
  color: #333;
}
nav a:hover {
  text-decoration: underline;
}
a:hover {
  color: #248;
}
footer {
  text-align: center;
}
#content {
  clear: left;
  padding: 1em;
}
h1 {
  margin-top: 0;
}
/* components */
nav.home #home a,
nav.maps #maps a {
  color: #248;
}
.selected {
  background-color: #fcfcfc;
}
ul.flaps {
  margin: 0;
  padding: 0;
}
ul.flaps li {
  display: inline;
  margin-right: 0.2em;
  border: 2px solid #888;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  font-size: 1.2em;
}
ul.flaps a {
  display: inline-block;
  padding: 0.2em 0.5em 0 0.5em;
}
iframe.overview {
  width: 100%;
  height: 650px;
  border: none;
  border-top: 2px solid #888;
}
