/* layout */
html *
  -moz-box-sizing border-box
  box-sizing border-box

body
  font-family Verdana
  background-image url(../images/stripes.png)

#wrap
  min-width 960px
  max-width 1200px
  margin 0 auto
  margin-top 2em
  padding 1em
  background-color #ececec
  border-radius 16px

nav ul
  list-style-type none
  margin 0 auto
  padding 0
  text-align center

nav li
  display inline-block
  padding 0 1em

nav a
  display block
  text-align center
  font-size 1.8em

a
nav a
  &:link
  &:visited
  &:active
    text-decoration none
    color #333

nav a:hover
  text-decoration underline


a:hover
  color #248

footer
  text-align center

#content
  clear left
  padding 1.5em

h1
  margin-top 0

p
  width 60em

/* components */
nav.home #home a
nav.maps #maps a
  color #248

.server-list
  margin 0 0 5em 2em
  clear left

.server-list dt
  float left
  clear left
  width 5em

.server-list dd
  float left
  margin-left 1em

.flaps
  margin 1.5em 0 0 0
  padding 0

.flaps li
  display inline-block
  border 2px solid #888
  border-bottom none
  border-radius 8px 8px 0 0
  font-size 1.2em
  vertical-align  bottom

.flaps.selected-h1 .h1
.flaps.selected-npup .npup
  height 2em
  background-color #f8f8f8

.flaps a
  display inline-block
  padding .2em .5em 0 .5em

iframe.overview
  width 100%
  height 650px
  border none
  border-top 2px solid #888
