h2 {
  text-align: center;
}
#wrap {
  padding: 1em 0;
}
#content {
  padding: 1.5em 0;
}
aside {
  padding: 0 2.5em;
}
section.rules {
  padding: 0 2.5em;
}
.grid,
.grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.grid td {
  background-color: #689;
}
.grid.running td {
  background-color: #79a;
}
.grid {
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 1em auto;
}
.grid td {
  width: 1em;
  height: 1em;
  border: 2px solid #9ce;
  transition: background-color 0.4s ease;
}
.grid td.on,
.grid td:hover {
  transition: background-color 0s ease;
}
.grid td:hover {
  background-color: #ccffe8;
}
.grid td.on {
  background-color: #afd;
}
.grid .controls td {
  background-color: transparent;
  border: none;
  padding: 0.2em;
  text-align: center;
}
